

/* ================================== barra superior ============================= */
:root{
    --color-main: #69B652;
    --color-dark-main: #365e2a;
    --color-yellow: #FEF086;

    --color-white: #ffffff;
    --color-black: #000000;

    --container: 1200px
}
html,body{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--color-dark-main);
    border-radius: 10px;
}
/* general style */
.d-none{
    display: none!important;
}
.bg-dark-green{
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-dark-main);
    margin-bottom: 60px;
}
.bg-dark-green a{
    color: #232323!important;
}
.bg-dark-green i{
    color: var(--color-black);
}
.bg-dark-green .btn_open_menu_main span i{
    color: var(--color-black);
}
.bg-dark-green .btn_search i{
    color: var(--color-black);
}
.bg-dark-green .has-submenu > a::after {
    content: '';
    border-top: 5px solid #000!important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
}
#main{
    max-width: var(--container);
    margin: auto;
    position: relative;
}
.container{
    max-width: var(--container);
    margin: auto;
}
.title-default{

}
/* general style */


.barra_header_topo{
    position: relative;
    width: 100%;
    z-index: 10;
}
.barra_header{
    font-size: 12px;
    margin: 0 auto;
    max-width: 960px;
    padding: 10px;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
    border-bottom: 2px solid var(--color-yellow);
}
.barra_header a{
    color: var(--color-white)!important;
}
.icons-acessibilidade-right li a{
    color: var(--color-white)!important;
}
.barra_header_left{
    display: flex;
}
.barra_header_left a{
    font-weight: 600;
}
.barra_header_left ul#accessibility{
    display: flex!important;
}
.barra_header_left ul li a{
    text-decoration: none;
    padding: 2px 10px;
    text-transform: uppercase;
}
.barra_header_right{
    display: flex;
    align-items: center;
}
.barra_header_right ul{
    display: flex;
}
.barra_header_right ul li a{
    text-decoration: none;
    font-weight: 500;
}
/* ================================== barra superior ============================= */


/* ===========================  hero  =============================== */
#header{
    height: 120vh;
    background-image: unset;
    background-color: #ffffff;
    background-image: url('https://www.enfconcursos.com//uploads/sites/1/2019/05/_15584596425ce434fa890cd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    display: flex;
    margin-top: -20vh;
}
.hero{
    height: calc(100vh + 60px);
}
.hero_slide{
    position: absolute;
    display: flex;
    z-index: -1;
}
.hero_slide_uni, .slide_single{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 1s;
}
.slide_single{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slide_single img{
    opacity: 1;
}
.slide_single video{
    position: absolute;
    width: auto;
    height: 130%;
}
.hero_slide_uni_active{
    opacity: 1;
}
.info_slide_single{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    z-index: 9;
}
.info_slide_single h2, .info_slide_single h3{
    display: block;
    width: 100%;
    text-align: center;
    color: var(--color-white);
}
.info_slide_single h2{
    font-size: 3.5em;
    font-weight: 200;
}
.info_slide_single h3{
    font-size: 3em;
    font-weight: 500;
}
.info_slide_single a.link_slide_single{
    margin: auto;
    background-color: var(--color-dark-main);
    text-decoration: none;
    padding: 5px 30px;
    color: var(--color-white)!important;
    font-size: 2em;
    border-radius: 20px;
}
#header > div{
    max-width: 100%;
    padding: 10px;
}
.hero_content{
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 30px 10px;
    background-color: rgba(10, 10, 10, 1);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    display: flex;
}
.over_slide_hero{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, .65);
}
.over_slide_hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, .5);
    z-index: 1;
}
.dots_slide_hero{
    counter-reset: itens
}
.count_dot_slide::before{
    content: counter(itens);
    counter-increment: itens;
}
.dots_slide_hero{
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    width: 50px;
    height: 200px;
    text-align: center;
    z-index: 1;
}
.count_dot_slide{
    font-size: 1.2em;
    color: #999;
    display: block;
    margin-bottom: 10px;
    transition: all .23s;
}
.count_dot_slide_active{
    color: var(--color-white);
}
.count_dot_slide_active::after{
    content: "";
    width: calc(50% - 5px);
    margin: auto;
    height: 3px;
    background-color: var(--color-white);
    display: block;
}
.sobre_menu{
    background-color: transparent;
}

.hero_top{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition: all .23s;
}
.hero_top #portal-logo{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.over_hero_top{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    opacity: 0;
    box-shadow: 2px 2px 15px rgba(10, 10, 10, .2);
    z-index: 1000;
    border-bottom: 2px solid #178429;
    animation: margin_down .6s forwards;
}
.has-submenu > a::after{
    content: '';
    border-top: 5px solid var(--color-black)!important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
}
.over_hero_top #titleHeader{
    color: var(--color-black);
}
.bg-dark-green #titleHeader{
    color: var(--color-black);
}
.over_hero_top a{
    color: #232323!important;
}
.over_hero_top .btn_open_menu_main span i{
    color: var(--color-black);
}
.over_hero_top .has-submenu > a::after{
    content: '';
    border-top: 5px solid #000!important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
}
.over_hero_top .btn_mob_access{
    color: var(--color-black);
}
.over_hero_top .btn_search i{
    color: var(--color-black);
}
@keyframes margin_down {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
.hero_center{
    width: 100%;
    text-align: center;
    z-index: 1;
}
.hero_center h1{
    color: var(--color-white);
    font-size: 3em;
    font-weight: 200;

}
.header_bottom{
    width: 100%;
    margin-bottom: 30px;
    z-index: 1;
}
.header_bottom ul{
    display: flex;
}
.header_bottom ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header_bottom ul li a{
    font-size: 2em;
    color: var(--color-white);
    text-decoration: none;
    padding: 2px 5px;
}
.over_redes_sociais{
    position: absolute;
    top: calc(50% - 20px);
    right: 0;
    padding: 10px;
    z-index: 9;
}
.over_redes_sociais .redes_sociais_header{
    display: flex;
    flex-direction: column;
}
.over_redes_sociais .redes_sociais_header a{
    text-decoration: none;
    transition: all .15s;
    color: #ffffff;
}
.over_redes_sociais .redes_sociais_header a:hover{
    transform: scale(1.4);
}
#logo{
    width: auto;
}
#logo span{
    margin: 0;
    position: unset;
}
#logo a:-webkit-any-link {
    text-decoration: none;
}
/* ======================================= hero ==================================== */
.menu_dub ul{
    display: flex;
}
.menu_dub > ul{

    margin-left: 10px;
}
.menu_dub ul li a{
    text-decoration: none;
    padding: 2px 18px!important;
    font-size: 16px;
    border-right: none!important;
    color: #ffffff;
}
.menu_dub #portal-logo{
    display: none;
}
.list_menu_bottom li{
    border-right: 1px solid var(--color-white);
}
.list_menu_bottom li:last-child{
    border: none;
}
.list_menu_bottom li a img{
    max-width: calc(100% - 40px);
    margin: auto 10px;
}

/* ==================================== submenu  ================================ */
.has-submenu{
    position: relative;
    transition: all .23s;
}
.has-submenu > a{
    overflow: hidden;
    transition: all .23s;
    position: relative;
    display: flex;
    align-items: center;
}

.has-submenu > a span{
    position: relative;
}
.has-submenu > a::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    color: var(--color-black);
    z-index: -1;
    border-radius: 0 5px 0 0;
    transition: all .23s;
}
.has-submenu:hover > a::before{
    width: 100%;
}
.has-submenu:hover > a{
    color: var(--color-black);
}

.has-submenu > a::after{
    content: '';
    border-top: 5px solid #fff!important;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;

}
.has-submenu .submenu{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 0 12px;
    background-color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    min-width: 150px;
    height: 0;
    overflow: hidden;
    border-radius: 0 5px 5px 5px;
    /*box-shadow: 2px 2px 10px 2px rgba(10, 10, 10, .2);*/
    box-shadow: 6px 8px 10px 0px rgba(10, 10, 10, .2);
    opacity: 0;
    width: 250px;
    transition: all .25s;
}
.has-submenu:hover ul.submenu{
    padding: 10px;
    opacity: 1;
}
.has-submenu .submenu li{
    width: 100%;
    text-align: left;
}
.has-submenu .submenu a::before{
    content: "> ";
    margin-left: -20px;
    margin-right: 10px;
    transition: all .2s;
}
.has-submenu .submenu li a:hover::before{
    margin-left: 0;
}
.has-submenu .submenu a{
    color: var(--color-black)!important;
    padding: 5px 0!important;
    display: block;
    transition: all .1s;
    word-wrap: normal;
    border-bottom: 1px solid #eee!important;
}
.has-submenu .submenu a:hover{
    color: var(--color-dark-main)!important;
}
/* ==================================== submenu  ================================ */



/* modal search */

.search_over {
    position: fixed;
    top: -100;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(0,0,0,.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .23s;
}
.open_search {
    top: 0;
    height: 100%;
    transition: all .23s;
}
.btn_slose_search {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    color: var(--color-white);
    cursor: pointer;
}
.search_over_content {
    margin: auto;
    /*width: 768px*/
}
.search_over_content #portal-searchbox form {
    width: 100%;
}
.search_over_content #portal-searchbox form input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-green);
    width: 100%;
    font-size: 3em;
    font-weight: 300;
    color: var(--color-white);
    text-transform: uppercase;
}
[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none;
}
.search_over_content .searchButton{
    background-color: transparent;
    border: none;
    color: var(--color-black);
}
.search_over_content #portal-searchbox{
}
.search_over_content #portal-searchbox form input.searchField{
    width: 70%;
    border-bottom: 1px solid var(--color-white);
}
.search_over_content #portal-searchbox form input.searchButton{
    width: 30%;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    font-size: 16px;
    background: #fff;
    color: #000;
    cursor: pointer;
}
.search_over_content .LSBox{
    position: relative;
}
.search_over_content #LSResult{
    position: absolute;
    top: 100%;
    left: 0;
}
/* modal search */
.btn_search{
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid var(--color-white);
    padding: 2px 5px;
    border-radius: 4px;
    background: transparent;
    border: none;
    font-size: 1.5em;
}
.btn_search i{
    color: var(--color-white);
    font-size: 1em;
}

/* fast access */
.section_fast_access{
    padding: 60px 0px 100px;
    /*background-color: #ccffcc;*/
    position: relative;
}
/*
.section_fast_access::before{
    content: "";
    width: 200%;
    height: 100%;
    background-color: #e9fbec;
    position: absolute;
    top: 0;
    left: -50%;
}
*/
.carousel_fast_access{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.carousel_fast_access.owl-carousel{
    padding-bottom: 10px;
    overflow-y: visible;
    display: flex;
}
.carousel_fast_access.owl-carousel .owl-stage{
    padding: 0px;
    overflow-y: visible;
}
.carousel_fast_access a{
    text-align: center;
    margin: 10px;
    border: 1px solid #343434!important;
    font-size: 1.1em;
    color: #013700!important;
    cursor: pointer;
    background-color: var(--color-white);
    flex-basis: calc(33.33% - 20px);
}
.carousel_fast_access a img{
    width: 50%!important;
    margin: auto;
    margin-bottom: 40px;
}
.carousel_fast_access a span{
    width: 100%;
    margin-bottom: 40px;
}
.carousel_fast_access a{
    border: 1px solid #787878;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    color: var(--color-black);
    text-align: center;
    text-decoration: none;
    transition: all .23s;
}
.section_fast_access header h2 {
    border: none;
    width: 100%;
    text-align: center;
    font-size: 3em!important;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--color-black)!important;
}
.carousel_fast_access a:hover{
    background-color: #178429;
    color: var(--color-white)!important;
}
.carousel_fast_access a:hover span{
    color: var(--color-white);
}
/* fast access */



/* =============================== footer ============================== */
#footer{
    padding: 40px 10px;
    border-top: 6px solid #013700;
    background-color: #034811;
}
#footer .container{
    max-width: var(--container);
}
.row_footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col_footer{
    flex-basis: 25%;
}
#footer ul{
    border: none;
    padding: 0;
}
#footer a{
    text-decoration: none;
}
#footer .row_footer h3{
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 18px;
}
.content_col_footer{
    padding: 15px 0;
}
.content_col_footer p{
    display: block!important;
    margin: 0;
}
.col_footer_50{
    flex-basis: 50%;
}
.hr_line{
    border: none;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: rgba(200, 200, 200, .65);
}
.bottom_footer_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* ======================================= footer ========================================= */

.float_btn_up{
    position: fixed;
    bottom: 20px;
    right: -60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #178429;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(10, 10, 10, .7);
    cursor: pointer;
    z-index: 10;
    transition: all .23s;
}
.show_btn_up{
    right: 20px;
}
.float_btn_up span{
    font-size: 1.5em;
}

.head_menu_access{
    display: none!important;
}
.open_head_menu_access{
    display: flex!important;
}
.open_head_menu_access_bg_white{
    display: flex!important;
}
.open_head_menu_access_bg_white span i{
    color: var(--color-black)!important;
}
.btn_open_menu_main, .head_header_bottom{
    display: none;
}
.btn_mob_access{
    display: none;
}



/* code added */
.title-default{
    width: 100%;
    text-align: left!important;
    max-width: 1200px;
    margin: auto;
    border: none!important;
    background: transparent!important;
    font-size: unset;
    color: var(--color-black);
}
.title-default::after{
    content: "";
    width: 100%!important;
    height: 4px;
    margin-top: 20px!important;
    background-image: linear-gradient(to right, #24420C, rgba(255,255,255, .99));
    display: flex;
    margin: auto;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.separador_bloco{
    border: none;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    position: relative;
    text-align: left;
}
.separador_bloco::after{
    content: "";
    width: 100%;
    height: 4px;
    margin-top: 20px!important;
    background-color: #24420C;
    display: flex;
    margin: auto;
    background-image: linear-gradient(to right, #24420C, rgba(255,255,255, .99));
}
.separador_bloco svg{
    display: none;
}

/* cards da sessao últimas notícias*/
.cover-list-tile.tile-content.sortable-tile{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.tile-content .list-item{
    box-shadow: 2px 2px 10px rgba(10, 10, 10, .3);
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    flex-basis: calc(33% - 20px);
}
.tile-content .list-item a{
    overflow: hidden;
    width: 100%;
}
.tile-content .list-item:hover img{
    transform: scale(1.1);
}
.tile-content .list-item:hover a{
    color: #127824!important;
}
.tile-content .list-item img{
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    width: 100%;
    margin: 0;
    object-fit: cover;
    transition: all .23s;
}
.tile-content .list-item img:hover{
    filter: unset!important;
    opacity: unset!important;
}
.tile-content .list-item h4{
    padding: 10px 20px;
    font-size: 1.6em;
    line-height: 1.5em;
}
.tile-content .list-item p{
    padding: 10px 20px 0 20px;
}
.separador_bloco_link{
    width: 100%;
    text-align: center;
    border: none;
    padding: 10px;
}
.separador_bloco_link a{
    padding: 10px;
    font-size: 1.2em;
}
/* cards da sessao últimas notícias */



/* faixa cta */
.fixa_cta{
    padding: 40px 10px 60px;
    background-color: #0B0B0B;
    color: #ffffff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #24420C;
    position: relative;
    margin: 10px auto 40px;
    z-index: 1;
}
.content_fixa_cta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
}
.fixa_cta h2{
    color: #fff;
}
.fixa_cta::before{
    content: "";
    width: 800%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -300%;
    background-color: #24420C;
    z-index: -1;
}
/*
.fixa_cta::after{
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -200%;
    background-color: #24420C;
}
*/
.btn_faixa_cta{
    background-color: #fff;
    color: #343434!important;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 18px;
    transition: all .23s;
    margin: auto;
    display: block;
    transition: all .23s;
}
#content .btn_faixa_cta:hover{
    color: #343434!important;
}
.fixa_cta h1{
    color: #ffffff;
}
/* faixa cta */


/* galeria de imagens */
.galeria_dev{
    padding: 40px 10px;
    max-width: 1200px;
    margin: auto;
}
.galeria_dev h2{
    width: 100%;
    text-align: center;
    font-size: 3em!important;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--color-black)!important;
}
.galeria_dev h2::after {
    content: "";
    width: 70px;
    height: 4px;
    margin-top: 10px!important;
    background-color: #24420C;
    display: flex;
    margin: auto;
}
.links_galeria{
    display: flex;
    flex-wrap: wrap;
}
.links_galeria a{
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(10, 10, 10, .3);
    overflow: hidden;
    position: relative;
    transition: all .9s;
}
.links_galeria .title_link_galeria{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5em;
    overflow: hidden;
    transition: all .23s;
    text-align: center;
}
.links_galeria a:hover .title_link_galeria{
    left: 0;
    padding: 5px;
}
.links_galeria a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom_galeria{
    padding: 40px 10px;
    text-align: center;
}
.tile a.btn_galeria{
    color: #ffffff!important;
}
.btn_galeria{
    padding: 10px 30px;
    background-color: #24420C;
    color: #ffffff!important;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.5em;
    transition: all .23s;
}
#content a.btn_galeria:hover{
    color: #ffffff!important;
}
a.btn_galeria:hover{
    transform: scale(1.2)!important;
    color: #ffffff!important;
}
/* galeria de imagens */



/* phot */
.phot{
    padding: 60px 10px;
    background-color: #EFFFCF;
    position: relative;
}
.phot::before{
    content: "";
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -400%;
    background-color: #EFFFCF;
}
.phot::after{
    content: "";
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -400%;
    background-color: #EFFFCF;
}
.phot h2 {
    border: none;
    width: 100%;
    text-align: center;
    font-size: 3em!important;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--color-black)!important;
}
.phot h2::after {
    content: "";
    width: 70px;
    height: 4px;
    margin-top: 10px!important;
    background-color: #24420C;
    display: flex;
    margin: auto;
}
.phot_left img{
    max-width: 100%;
    width: 100%;    
}
.content_phot{
    display: flex;
    flex-wrap: wrap;
}
.content_phot header{
    width: 100%;
}
.phot_left, .phot_right{
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.phot_left{
    padding: 10px 10px 40px 0;
}
.bottom_phot{
    padding: 10px;
}
.phot_right h4{
    font-size: 1.5em;
    font-weight: 400;
}
.phot_right h3{
    font-size: 2.5em;
    font-weight: 600;
}
.phot_right p{
    display: block!important;
    width: 100%;
    text-align: left;
    font-size: 1.3em;
    margin-bottom: 40px!important;
}
.insti_videos{
    padding: 40px 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #e1e1e1;
}
.uni_insti_video{
    flex-basis: 50%;
    box-sizing: border-box;
}
.uni_insti_video:first-child{
    padding: 10px 10px 10px 0;
}
.uni_insti_video:last-child{
    padding: 10px 0 10px 10px;
}
.uni_insti_video iframe{
    width: 100%;
}
/* phot */




/* carousel vereador */
.carousel_vereador{
    padding: 80px 10px;
    position: relative;
    max-width: 1200px;
    margin: auto;
}
.carousel_vereador .owl-stage-outer{
    padding: 40px 0px;
}
.carousel_vereador header h2{
    border: none;
    width: 100%;
    text-align: center;
    font-size: 3em!important;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--color-black)!important;
}
.carousel_vereador header h2::after {
    content: "";
    width: 70px;
    height: 4px;
    margin-top: 10px!important;
    background-color: #24420C;
    display: flex;
    margin: auto;
}
.carousel_vereador .owl-nav button{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c1c1c1!important;
}
.carousel_vereador .owl-nav button span{
    font-size: 3em;
}
.carousel_vereador .owl-nav button.owl-prev{
    left: -20px;
}
.carousel_vereador .owl-nav button.owl-next{
    right: -20px;
}
.carousel_vereador .owl-dots{
    width: 100%;
    display: flex;
    justify-content: center;
}
.carousel_vereador .owl-dots button{
    width: 12px;
    height: 12px;
    background-color: #4E882C;
    border-radius: 50%;
    margin: 0 4px;
    transition: all .23s;
}
.carousel_vereador .owl-dots button.active{
    background-color: #24420C;
    transform:  scale(1.2);
}
.card_vereador{
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    margin: 5px;
    overflow:hidden;
    transition: all .23s;
}
.card_vereador a{
    display: flex
}
.card_vereador img{
    width: 100%;
    height: 312px;
    object-fit: cover;
}
.informacao_vereador{
    padding: 20px 10px;
    text-align: center;
    position: relative;
}
.informacao_vereador h3{
    font-size: 1.8em;
    font-weight: 400;
}
.card_vereador:hover{
    border: 1px solid #0B0B0B;
    transform: translateY(-5px);
}
.rede_social_vereador{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all .3s;
}
.card_vereador:hover .rede_social_vereador{
    top: -20px;
    opacity: 1;
}
.rede_social_vereador a.link_social_vereador{
    font-size: 2em;
    color: #fff!important;
    background-color: #000000;
    padding:5px;
    margin: 2px;
    background-color: #127824;
    border-radius: 5px;
}
.rede_social_vereador a:hover{
    color: #fff!important;
}
/* carousel vereador */



/* ============================== bloco videos ==================================== */
.container_videos{
    width: 100%;
    max-width: 100%;
    margin-left: 0%;
    background-color: #343434;
    padding: 40px 10px;
    display: block;
    position: relative;
    z-index: 1;
}
.container_videos::before{
    content: "";
    width: 800%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -300%;
    background-color: #343434;
    z-index: -1;
}
.container_videos::after{
    content: "";
    width: 800%;
    height: 50%;
    position: absolute;
    left: -300%;
    bottom: 0;
    background-color: #232323;
}
.content_videos{
    max-width: 1200px;
    margin: auto;
}
.focus_video{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.container_videos iframe{
    width: 80%;
    height: 500px;
    margin: auto;
    border: 20px solid #232323;
    background-color: #232323;
}
.container_videos header{
    width: 100%;
}
.container_videos header h2{
    border: none;
    width: 100%;
    text-align: center;
    font-size: 3em!important;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
    color: #fff!important;
}
.container_videos header h2::after {
    content: "";
    width: 70px;
    height: 4px;
    margin-top: 10px!important;
    background-color: #fff;
    display: flex;
    margin: auto;
}
.container_videos .owl-nav button{
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: #f1f1f1!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.container_videos .owl-nav button span{
    font-size: 2em;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: -2px;
}
.container_videos .owl-nav button.owl-next{
    right: -20px;
}
.container_videos .owl-nav button.owl-prev{
    position: absolute;
    left: -20px;
}
.thumbs_video{
    width: 95%;
    display: flex;
    padding: 10px;
    margin: 10px auto;
    background-color: #121212;
    box-sizing: border-box;
}
.thumbs_video .play_thumb{
    cursor: pointer;
    position: relative;
}
.thumbs_video .play_thumb img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    transition: all .23s;
}
.thumbs_video .play_thumb i{
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    font-size: 3em;
    color: #ff0000;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.thumbs_video .play_thumb i::before{
    margin-left: 5px;
}
.thumbs_video .play_thumb:hover i{
    animation: pisca_play .6s infinite;
}
.thumbs_video .play_thumb:hover img{
    filter: brightness(60%);
}
#portal-logo img{
    width: 75px;
    height: auto;
}
@keyframes pisca_play {
    from{
        border: 2px solid #fff;
        border-color: #ff0000;
    }
    to{
        border-color: transparent;
        padding: 15px;
        top: calc(50% - 43px);
        left: calc(50% - 43px);
    }
}
.bottom_videos{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}
.btn_videos{
    color: #ffffff;
    background-color: #c4302b;
    padding: 10px 40px;
    border-radius: 8px;
    font-size: 1.4em;
    text-decoration: none;
    display: flex;
    align-content: center;
    box-shadow: 2px 2px 8px rgba( 10, 10, 10, .6);
    transition: all .23s;
    color: #ffffff!important;
}
#content a.btn_videos:hover{
    transform: scale(1.1);
    color: #ffffff !important;
}
.btn_videos i{
    margin-left: 10px;
}
.redes_sociais_menu, .over_screen, .logo_menu_mobile{
    display: none;
}
.over_screen{
    transition: all .23s;
}
.open_over_screen{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .8;
    background-color: rgba( 10, 10, 10, .6);
    width: 100%;
    height: 100%;
    z-index: 100;
}
@media(max-width: 1080px){
    .container_videos iframe{
        height: 400px;
    }
    .phot::before, .fixa_cta::before, .container_videos::before{
        display: none;
    }
    .container_videos::after{
        width: 100%;
    }
}

/* ============================== bloco videos ==================================== */
/* style content homepage */

@media(max-width: 820px){
    .barra_header{
        padding: 0;
        border: none;
    }
    .barra_header_left{
        align-items: center;
    }
    .barra_header_left ul#accessibility{
        display: none!important;
    }
    .btn_mob_access{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;
        color: var(--color-white);
    }
    .btn_mob_access i{
        font-size: 3em;
    }
    .rec_btn_mob{
        width: 100%;
        height: 3px;
        background-color: var(--color-white);
        border-radius: 4px;
    }
    .rec_btn_mob:nth-child(2){
        width: 80%;
    }
    .rec_btn_mob:last-child{
        width: 60%;
    }
    .barra_header_left ul#accessibility{
        display: flex!important;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 170px;
        height: auto;
        background-color: var(--color-white);
        z-index: 10001;
        box-shadow: 2px 2px 10px rgb(10 10 10 / 90%);
        transition: all .13s;
    }
    .open_menu_access{
        left: 0!important
    }
    .barra_header_left ul#accessibility li{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .barra_header_left ul#accessibility li a{
        padding: 10px;
        font-size: 1.2em;
        color: var(--color-dark-main)!important;
    }
    .head_menu_access{
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 10px;
        right: 15px;
        z-index: 10002;
    }
    .head_menu_access .close_menu_access i{
        color: var(--color-white);
        font-size: 2em;
        cursor: pointer;
    }
    .btn_open_menu_main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn_open_menu_main a{
        color: var(--color-black)!important;
    }


    .hero_top{
        justify-content: space-between;
    }
    .btn_open_menu_main span i{
        font-size: 4em;
        color: var(--color-white);
    }
    .sobre_menu{
        position: fixed;
        top: 0;
        right: -110%;
        width: 300px;
        height: 100%;
        background-color: var(--color-white);
        display: flex;
        justify-content: center;
        box-shadow: 2px 2px 10px rgba(10, 10, 10, .2);
        z-index: 10003;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        transition: all .13s;
    }
    .open_menu_sobre{
        right: 0!important;
        overflow: auto;
    }
    .open_menu_sobre a{
        color: var(--color-black)!important;
    }
    .open_menu_sobre .has-submenu > a::after {
        content: '';
        border-top: 5px solid var(--color-black)!important;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-left: 5px;
    }
    .sobre_menu ul{
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .sobre_menu > ul > li{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(200, 200, 200, .65);
    }
    .has-submenu .submenu a::before{
        display: none;
    }
    .has-submenu .submenu{
        position: unset;
        border-radius: 0;
        box-shadow: none;
        border: 1px solid #f0f0f0;
        width: 100%;
    }
    .has-submenu .submenu li{
        line-height: .8em!important;
        border-bottom: 1px solid rgba(200, 200, 200, .65);
    }
    .has-submenu .submenu li a{
        padding: 16px!important;
        border-bottom: none!important;
        text-align: center;
        padding-left: 20px!important;
    }
    .open_submenu{
        height: auto!important;
        padding: 0px!important;
        transition: all .2s;
    }
    .has-submenu:hover ul.submenu{
        height: 0;
        padding: unset;
    }
    .hero{
        height: 600 px!important;
    }
    .hero_content{
        padding: 0!important;
    }

    .head_header_bottom{
        display: flex;
        justify-content: center;
    }
    .head_header_bottom span.btn_head_header_bottom{
        font-size: 3em;
        cursor: pointer;
        background-color: var(--color-main);
        border-radius: 5px;
        height: 40px;
        display: flex;
        align-items: center;
    }
    .header_bottom{
        width: 100%;
        margin: 0;
        height: 0;
    }
    .header_bottom ul{
        background-color: #178429;
        display: flex;
        flex-wrap: wrap;
        height: 0;
        overflow: hidden;
        transition: height .23s;
    }
    .open_header_bottom{
        
    }
    .list_menu_bottom li{
        width: 100%;
        border-right: 0;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(200, 200, 200, .65);
    }
    .list_menu_bottom li a img{
        max-width: 45%;
    }
    .has-submenu .submenu a{
        text-align: left!important;
    }
    .header_bottom{
        display: none;
    }
    .dots_slide_hero{
        display: none;
    }
    .over_redes_sociais{
        display: none;
    }
    .has-submenu:hover ul.submenu{
        padding: unset;
        opacity: unset;
        background-color: #f0f0f0;
    }
    .open_submenu{
        height: 0!important;
        padding: 0;
        transition: all .2s;
    }
    .open_submenu_mobile{
        height: auto!important;
    }
    .menu_dub ul li a{
        padding: 6px 18px!important;
    }
    .redes_sociais_menu{
        display: flex;
        width: 100%;
        height: 30px;
        margin-top: 60px;
    }
    .content_redes_sociais_menu{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .content_redes_sociais_menu a{
        margin: 2px 4px;
        font-size: 1.4em;
        text-decoration: none;
        background-color: var(--color-dark-main);
        padding: 2px 8px;
        border-radius: 2px;
        color: var(--color-white)!important;
    }
    .redes_sociais_menu a{
        color: var(--color-dark-main);
    }
    .logo_menu_mobile{
        display: flex;
    }
    .menu_dub #portal-logo {
        display: flex;
        color: #000!important;
        font-size: .8em;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 768px){
    .tile-content .list-item{
        flex-basis: calc(100% - 20px);
    }
    .links_galeria a{
        flex-basis: calc(100% - 20px);
        height: 250px;
    }
    .phot_left, .phot_right{
        flex-basis: 100%;
    }
    .phot_left{
        padding: 10px;
    }
    .btn_phot{
        margin: auto;
    }
    .uni_insti_video iframe{
        height: 200px;
    }
    .btn_search{
        font-size: 1.5em;
        padding: 2px 5px;
    }
    .btn_search i{
        font-size: 1.5em;
    }
    .dots_slide_hero, .hide_on_mobile{
        display: none!important;
    }
    #navigation{
        display: none!important;
    }
    .search_over_content #portal-searchbox form input.searchButton{
        width: 50px;
    }
    .search_over_content #portal-searchbox form input{
        font-size: 1.4em!important;
    }
    .carousel_fast_access a{
        flex-basis: calc(50% - 20px);
    }
    .carousel_fast_access a img{
        margin-bottom: 20px;
    }
}


@media(max-width: 600px){
    .barra_header_right ul li a{
        font-size: .9em;
    }
    .col_footer, .col_footer_50{
        flex-basis: 100%;
    }
    .content_col_footer, .col_footer_50, .bottom_footer_right{
        text-align: left;
        justify-content: flex-start;
    }
}

@media(max-width: 580px){
    .container_videos iframe{
        width: 100%;
        height: 250px;
        border-width: 10px;
    }
    .bottom_videos{
        flex-wrap: wrap;
    }
    .btn_videos{
        width: 95%;
        justify-content: center;
        margin: 5px auto;
    }
    .uni_insti_video{
        flex-basis: 100%;
        padding: 10px!important;
    }
    .uni_insti_video iframe{
        height: 200px;
    }
    .links_galeria a{
        height: 200px;
    }
    .title-default{
        font-size: 1.8em!important;
    }
    
}

@media(max-width: 480px){
    #header > div{
        width: 100%;
    }
    .hero_top #portal-logo{
        font-size: .8em;
    }
    .hero_top #portal-logo img{
        width: 50px;
    }
}